<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Location</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content">Review</label>
      <input id="post-content" name="post-content" />
    </div>
     <div>
      <label for="image"></label>
      <input id="post-image" name="image" type="file"  />
    </div>
    <div>
      <label for="trip_budget">Budget($)</label>
      <input id="post-budget" name="trip_budget" type="number"/>
    </div>
      <fieldset class="rating">
         <legend>Rate your trip:</legend>
         <input type="radio" id="no-rate" class="input-no-rate" name="ratings" value="0" checked=""
            aria-label="No rating.">

         <input type="radio" id="rate1" name="ratings" value="1">
         <label for="rate1">1 star</label>

         <input type="radio" id="rate2" name="ratings" value="2">
         <label for="rate2">2 stars</label>

         <input type="radio" id="rate3" name="ratings" value="3">
         <label for="rate3">3 stars</label>

         <input type="radio" id="rate4" name="ratings" value="4">
         <label for="rate4">4 stars</label>

         <input type="radio" id="rate5" name="ratings" value="5">
         <label for="rate5">5 stars</label>

         <span class="focus-ring"></span>
      </fieldset>
   
    <button type="submit" class="btn">Submit</button>
  </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Reviews</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}} 
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Review</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
