<div class="dashboard">
<section class="create-blog">
  <h2>Create New Review</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>

    <div>
      <label for="content-body">Content</label>
      <textarea name="content-body"></textarea>
    </div>

    <div>
      <label for="city-location">Location</label>
      <input id="post-city-location" name="post-city-location" />
    </div>
    <div>
      <label for="image"></label>
      <input id="post-image" name="image" type="file"  />
    </div>
    <div>
      <label for="trip_budget">Budget($)</label>
      <input id="post-budget" name="trip_budget" type="number"/>
    </div>
    <div><fieldset class="rating">
         <legend>Rate your trip:</legend>
         <input type="radio" id="no-rate" class="input-no-rate" name="ratings" value="0" checked=""
            aria-label="No rating.">

         <input type="radio" id="rate1" name="ratings" value="1">
         <label for="rate1">1 star</label>

         <input type="radio" id="rate2" name="ratings" value="2">
         <label for="rate2">2 stars</label>

         <input type="radio" id="rate3" name="ratings" value="3">
         <label for="rate3">3 stars</label>

         <input type="radio" id="rate4" name="ratings" value="4">
         <label for="rate4">4 stars</label>

         <input type="radio" id="rate5" name="ratings" value="5">
         <label for="rate5">5 stars</label>

         <span class="focus-ring"></span>
      </fieldset></div>
    <button type="submit" class="btn">Submit</button>
  </form>
</section>

{{#if blogPosts.length}}
<section class="your-posts">
  <h2>Your Posts</h2>
  <div>
    {{#each blogPosts as |post|}}
    <div class="blog-post">
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link"><button type="submit">Edit</button></a>
    </div>
    {{/each}}
  </div>
</section>
{{/if}}
</div>


<script src="/javascript/add-blog-post.js"></script>